<div>
<h2>test{{ section.settings.title }}</h2>
</div>
{% schema %}
    {
      "name": "Test",
      "settings": [
        {
        "type":"text",
        "label":"Title",
        "id":"title"
        },
        {
          "type": "url",
          "label":"head",
          "id":"head"
        }
      ],
     
      "presets":[
      {
        "name":"test"
      }
    ]
    }
  {% endschema %}